@use "../variables";

.unkai-copy {
  position: relative;
  display: flex;
  justify-content: flex-start;

  .unkai-tooltip {
    position: absolute;
    top: -28px;
    background-color: variables.$lightBlue;
    padding: 5px 10px;
    border-radius: 7px;
    left: -14px;
    color: variables.$darkViolet;
    width: max-content;
    display: block;
  }

  &-icon {
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
    display: block;
    border-radius: 50%;
    transition: 0.3s ease;

    &:hover {
      background-color: variables.$warm;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      svg {
        stroke: variables.$dark;
      }
    }
  }
}
