@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

$violet: #9400ff;
$darkViolet: #27005d;
$lightBlue: #e4f1ff;
$blue: #aed2ff;
$yellow: #fab12f;
$green: #d8dbbd;
$dark: #2a3663;
$warm: #faf6e3;

$spaceGrotesk: "Space Grotesk", sans-serif;
